.container{
  padding: 0.2em;
}

.container.list {
  width: 100%;
}

.container.grid {
  width: 50%;
}

.video{
  display: flex;
  align-items: center;
  border:1px solid #eee;
  cursor: pointer;
  transition: transform 250ms ease-in;
}

.video:hover {
  transform: scale(1.02);
}

.thumbnail{
  width:40%;
  height: 100%;
}

.metadata {
  width: 56%;
  padding:0 2%;
}

.title {
  width:100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.9em;
}
.channel {
  font-size:0.85em;
}